.qrcode-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrcode-container button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.qrcode-container .empty-box {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
}